<div class="row">
  <div class="col-12">
    <div class="post-wrapper">
      <div class="nav-wrapper">
        <div class="action">
          <button mat-raised-button color="primary" (click)="addPost()">Add Post</button>
        </div>
      </div>
      <ng-container *ngTemplateOutlet="posts ? data : load"></ng-container>
    </div>
  </div>
</div>


<ng-template #data>
  <app-post *ngFor="let post of posts"
            [post]="post"
            (deletePost)="openConfirmModal($event)"
            (editPost)="editPost($event)"
  ></app-post>
</ng-template>
<ng-template #load>
  <div class="loading">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
