.post {

  &-wrapper {
    padding-top: 15px;
  }
}

.action {
  color: #ffffff;
}

.nav-wrapper {
  display: flex;
  justify-content: center;
  padding: 0 0 15px;
}

.loading {
  display: flex;
  justify-content: center;
}
